@charset "utf-8";


// Text Size
h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin: 0 0 1rem;
  line-height: 1.5;
}


// Below is code for the tile flip
$flipIcon: url("data:image/svg+xml,%3Csvg width='300' height='400' version='1.1' viewBox='0 0 300 400' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='matrix(-.70408 .71012 .71012 .70408 254.46 -106.04)' fill='%23333' fill-opacity='0.5' %3E%3Cg transform='matrix(.58999 .0052778 .0052778 .5899 141.76 -10.776)' fill='%23333'%3E%3Cpath d='m421.89 247.04v7.964c0 71.572-58.229 129.8-129.8 129.8s-129.8-58.229-129.8-129.8v-65.551l27.712 27.634 53.652-53.652-126.42-126.34-128.77 128.87 53.652 53.652 30.061-30.16v65.552c0 58.762 22.868 113.99 64.393 155.52s96.755 64.393 155.52 64.393 113.99-22.868 155.52-64.393c41.524-41.524 64.392-96.755 64.392-155.52v-7.964z' fill='%23333'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");

.flip-wrapper {
  position: relative;

  // compensate for the space of the last item in a column
  &.bottom {
    margin-bottom: -1.4em;
  }
  @at-root .tile input[type="checkbox"] {
    // Hiding the checkbox. We never want to see it.
    position: absolute;
    left: -9999em;
  }
  // When the container is clicked the checkbox is marked as checked. This activates the CSS below.
  @at-root .tile input[type="checkbox"]:checked {
    ~ .flip-tile {
      .flip-tile-back {
        visibility: visible;
        transform: rotateX(0deg) rotateY(0deg);
      }
      .flip-tile-front {
        transform: rotateY(180deg);
      }
    }
  }

  .flip-tile {
    cursor: pointer;

    // Animation elements
    display: block;
    perspective: 600px;
    position: relative;
    transition: all 0.1s;

    &:hover {
      transform: scale(1.02, 1.02);
    }

    .flip-tile-front,
    .flip-tile-back {
      // Makes a card invisible from behind.
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: all 0.4s ease-in-out;

      // Add the icon to indicate functionality
      background-image: $flipIcon;
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: top 10px right 10px;
    }
    .flip-tile-front {
      // Default rotation values
      transform: rotateX(0deg) rotateY(0deg);
    }

    .flip-tile-back {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      visibility: hidden;
      // Default rotation value
      transform: rotateY(-180deg);

      // Do not want to exceed the height of the front card
      overflow: hidden;
    }
  }
}


// Imports 
@import "../../node_modules/bulma/bulma.sass";