<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Truck Page</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/Develop/public/css/jass.css">
    <link rel="stylesheet" href="/Develop/public/sass/mystyles.scss">
    <link rel="stylesheet" href="/Develop/public/css/style.css">
    <link rel="stylesheet" href="/Develop/public/css/mystyles.css"
</head>
<body>
  <section class="section">
    <div class="">
        <div class="flip-tile ">
            <div class="flip-tile-inner bg-light-blue">
                <div class="flip-tile-front tile is-child box">
                    <h1 class="title tile-content">{{foodTruck.name}}</h1>
                    <figure class="image is-128x128 has-text-centered">
                        <img class="is-rounded" src="{{foodTruck.profilePicture}}" alt="Food truck profile picture">
                    </figure>
                    <p class="subtitle has-text-centered tile-content">Click to see menu</p>
                </div>
                <div class="flip-tile-back tile is-child box">
                    <h1 class="title">Menu</h1>
                    <div class="content">
                        <ul>
                            {{#each foodTruck.menu}}
                            <li>
                                <p class="title is-5 tile-content">{{this.name}}</p>
                                <p class="subtitle is-6 tile-content">Price: ${{this.price}}</p>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

 <script src="/Develop/public/js/tileflip.js"></script>