<!DOCTYPE html>
<html>
  <head>
    <title>User Profile Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">User Profile</h1>
          <a href="#" class="button is-light">Edit Profile</a>
        </div>
      </div>
    </section>
    
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-one-half">
            <div class="card">
              <div class="card-content">
                <article class="media">
                  <figure class="media-left .bulma-clearfix-mixin">
                    
                      <p class="image is-128x128 .bulma-clearfix-mixin">
                        <img src="https://images.unsplash.com/photo-1612208176815-e132bcf971b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="{{name}}">
                      </p>
                      
                  </figure>
                      <p class="title .text-burnt-orange">My Food Truck</p>
                    </div>
              </div>
            </div>
          </div>
          
          <div class="column is-one-half">
            <div class="card">
              <div class="card-content">
                <h2 class="title">Another Post Title</h2>
                <p class="content">Suspendisse potenti. Praesent ac lectus dignissim, consequat velit sit amet, luctus elit. Vivamus at nisl vel dolor pharetra fermentum. Nullam eu velit ut nulla tempus euismod.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>