<body class="user-body">
    <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-4 is-vertical is-parent">
                    <div class="tile is-child box left-tile">
                        <h1 class="title has-text-centered">{{truck.name}}</h1>
                        <figure class="image is-128x128 has-text-centered">
                            <img class="is-rounded" src="{{truck.image}}" alt="Food truck profile picture">
                        </figure>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box right-tile">
                        <h1 class="title has-text-centered">Menu</h1>
                        <div class="content">
                            <ul>
                                {{#each truck.menu}}
                                <li>
                                    <p class="title is-5">{{this.name}}</p>
                                    <p class="subtitle is-6">Price: ${{this.price}}</p>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>