<body class="user-body">
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">Your Flavor is Found!</h1>
            <div class="tile is-ancestor is-flex-wrap-wrap">
                {{#each trucks as |truck|}}
                {{> tiles}}
                {{/each}}
            </div>
        </div>
    </section>
    
</body>

</html>