<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-4 is-vertical is-parent">
        <div class="flip-wrapper">
          <input type="checkbox" id="toggle-1">
          <label class="tile is-child flip-tile" for="toggle-1">
            <div class="flip-tile-front box">
              <p class="title">{{}}</p>
              <p>{{}}</p>
            </div>
            <div class="flip-tile-back box has-background-primary">
              <h4 class="title"> Menu </h4>
              <p>{{}}</p>
            </div>
          </label>
        </div>
    </div>
  </div>
  </div>