{{!-- add food truck form --}}


<form class="container" id="truck-form" data-session="{{id}}">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="The Stinky Cheese" id="food-truck-name">
        </div>
    </div>
    <div class="field">
        <label class="label">Category</label>
        <div class="control">
            <input class="input" type="text" maxlength="20" placeholder="Diner-style" id="cuisine">
        </div>
    </div>
    <div class="field">
        <label class="label">Description</label>
        <div class="control">
            <textarea class="textarea" type="textarea" placeholder="Tell us about your food truck!"
                id="description"></textarea>
        </div>
    </div>
    <div class="field">
        <label class="label">Image</label>
        <div class="control">
            <input class="input" type="text" placeholder="Image" id="image">
        </div>
    </div>
    <div class="field">
        <label class="label">Phone</label>
        <div class="control">
            <input class="input" type="number" placeholder="555-555-5555" id="contact">
        </div>
    </div>
    <div class="field">
        <label class="label">Social Media Link</label>
        <div class="control">
            <input class="input" type="text" placeholder="instagram.com" id="link">
        </div>
    </div>
    <div class="field">
        <label class="label">Address</label>
        <div class="control">
            <input class="input" type="text" placeholder="123 Feast Findr Lane Hometown, USA" id="address">
        </div>
    </div>


    <button class="button is-primary">Add</button>
</form>
<script src="./js/foodTruck.js"></script>