<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeastFindr</title>
    <link rel="stylesheet" href="Develop\public\css\style.css">
    <link rel="stylesheet" href="Develop\public\css\mystyles.scss">
    <link rel="stylesheet" href="Develop\public\css\jass.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/1ovytU9r6Rz1l7gDroFxGk1KtbC5/6OWIX4Dkl" crossorigin="anonymous">

</head>
<body>
    <main>
        {{{ body }}}
    </main>
   
</body>

</html>