<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeastFindr</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/mystyles.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="flex-column justify-space-around">

        <nav class="custom-navbar bg-dark-blue" role="navigation" aria-label="main navigation">
            <a class="logo-container" href="/">
                <img src="./images/FeastFindr.png" class="logo-image">
            </a>
            <div class="menu-container">
                <a class="menu-item text-light-blue brand-font" href="/">HOME</a>
                <a class="menu-item menu-button brand-font" href="/login">
                    {{#if loggedIn}}
                    <strong>Profile</strong>
                    {{else}}
                    <strong>SIGN UP / LOGIN</strong>
                    {{/if}}
                </a>
            </div>
        </nav>

        <main class="">
            {{{ body }}}
        </main>
    </div>

    <footer class="footer-section">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    Copyright &copy; 2023 FeastFindr. All rights reserved.
                </p>
            </div>
        </div>
    </footer>

</body>

</html>